<style>
.il-layout-page-content > div {
        background:             url('') no-repeat scroll left top / cover;
}
.form-horizontal,
.ilFormHeader,
.ilFormFooter,
.form-horizontal .form-group {
    background-color: transparent;
}
div.ilc_section_Background,
a.ilc_section_Background {
  background-color: rgba(255, 255, 255, 0.8);
}
.ilFormHeader {
  padding-top: 15px;
}
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Ordnerpfad für die Hintergrundbilder
        var imagePath = "./Customizing/global/skin/umr_8/background/";
        // Element auswählen, das das Hintergrundbild enthält
        var backgroundElement = document.querySelector(".il-layout-page-content > div");
        // Bilder im Ordner einlesen
        var imageFiles = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg', 'image6.jpg', 'image7.jpg', 'image8.jpg', 'image9.jpg', 'image10.jpg', 'image11.jpg'];
        // Zufälliges Bild auswählen
        var randomImage = imageFiles[Math.floor(Math.random() * imageFiles.length)];
        // Vollständige Bild-URL erstellen
        var backgroundImageUrl = imagePath + randomImage;
        // Das Hintergrundbild im Stylesheet aktualisieren
        backgroundElement.style.backgroundImage = "url('" + backgroundImageUrl + "')";
    });
</script>

<!-- BEGIN login_information -->
<div class="small">{TXT_LOGIN_INFORMATION}</div>
<!-- END login_information -->

<div>
	<!-- BEGIN login_page_editor -->
	{LPE}
	<!-- END login_page_editor -->
</div>
<div class="ilStartupSection">
	<!-- BEGIN shib_login_form -->
	<p>
		{SHIB_LOGIN_FORM}
	</p>
	<!-- END shib_login_form -->
	<!-- BEGIN saml_login -->
	{SAML_LOGIN_FORM}
	<!-- END saml_login -->
	<!-- BEGIN cas_login -->
	<p>
		{CAS_LOGIN_FORM}
	</p>
	<!-- END cas_login -->
	<!-- BEGIN oidc_login -->
	{OPEN_ID_CONNECT_LOGIN_FORM}
	<!-- END oidc_login -->
	<!-- BEGIN ilias_login -->
	{LOGIN_FORM}
	<!-- END ilias_login -->
	<!-- BEGIN reg_links -->
	<div class="ilStartupSection">
		{REG_PWD_CLIENT_LINKS}
	</div>
	<!-- END reg_links -->
	<!-- BEGIN agreement -->
	<div class="ilStartupSection">
		{USER_AGREEMENT}
	</div>
	<!-- END agreement -->
</div>