// mainbar in umr color
.il-mainbar {
    background-color:  @umr-main-color;
}
.il-mainbar-triggers .btn-bulky, .il-mainbar-triggers .il-link.link-bulky {
    background:  @umr-main-color;
}
@media only screen and (max-width: @grid-float-breakpoint-max) {
    .il-mainbar-entries {
        background-color:  @umr-main-color;
    }
}